/* Estilos básicos para una página web */
body {
    font-family: Arial, sans-serif;
    background-color: #F0FFCF;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

p {
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    margin: 20px;
}
